*
	margin 0
	padding 0
	font-family 'Microsoft JhengHei'
body
	background-color #efefef
	
.container
	max-width 700px
	margin 10px auto
	>.post
		background-color #FFF
		margin 1%
		padding 1%
		border 1px solid rgba(0,0,0,0.1)
		>.profile
			display flex
			align-items center
			>a
				text-decoration none
				margin 0 5px
				&:hover
					text-decoration underline
			>img
				border 1px solid rgba(0,0,0,0.2)
				margin-right 3px
			>.name
				color #3C3B5B
			>.date
				font-size 12px
				color #999
		>.des
			padding 0.5%
			font-size 15px
		>.link
			display block
			border 1px solid rgba(0,0,0,0.1)
			text-decoration none
			color: #454545
			padding: 5px
			background-color: rgba(200,200,200,0.1)
			>img
				max-width 300px
				border: 1px solid rgba(0,0,0,0.2)
			>p
				font-size: 13px
		>.info
			margin 10px 0
			>span
				margin-right 10px
				font-size: 12px
				color: #656565
				>*
					display inline-block
					vertical-align middle
				>img
					margin-right: 5px
					width 20px
					height auto
					